{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Indexpage</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href= "{% static 'LoginSystem/indexpage.css' %}">
    </head>
    <body>
     <h1> Welcome to Indexpage! </h1>
     <p> This is the Indexpage of our django application </p>
     <h3> Hope so you are Enjoying learning Django! </h3>

     <img src="{% static "LoginSystem/image_1.png" %}" >
    </body>
</html>